<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705542613105-atukr48h3hv5otsqu4qc0an1plultjer.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705542613105-atukr48h3hv5otsqu4qc0an1plultjer</string>
	<key>API_KEY</key>
	<string>AIzaSyC_Z6LKlNy91eJ53mO6xOnRZXpUqFkUAt8</string>
	<key>GCM_SENDER_ID</key>
	<string>705542613105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.appdevs.walletium</string>
	<key>PROJECT_ID</key>
	<string>sendra-3dbbc</string>
	<key>STORAGE_BUCKET</key>
	<string>sendra-3dbbc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705542613105:ios:9a6617ec025898ee0893d0</string>
</dict>
</plist>